html {
	font-family:Arial, Helvetica, sans-serif; /* This turns the typeface of the entire page to Arial, Helvetica or sans-serif;*/
}

/*==================================================================================================================================================================
/*Navigation*/

/*------------------------------------------
/* The entire Nav Bar */
.navigation { /* This is all of the navigation bar */
	position: fixed; /*This is so that the navigation bar consistently stays the same */
	top: 0;
	background-color: rgb(245, 245, 245);
	color: rgba(85, 83, 83, 0.932);
	margin: 5px;
	width: 100%;
	height: 100px;
}

/*------------------------------------------
/*Hover capabilities for the navigation bar */
.nav-link:hover {
	color:rgb(200, 200, 200);
	background-color: rgb(230, 230, 230);
}

/*------------------------------------------
/*  Nav Bar links display */
.nav-link { /* This selects the individual elements within the Nav Bar */
	float:right;
	display: inline;
	background-color: rgb(230,230,230);
	text-decoration:none;
	color: rgb(180, 180, 180);
	padding:20px;
	border-radius: 10px; /* This makes the bounding boxes rounded rectangles */
	width: 100;
	vertical-align: middle;
	list-style: none;
}
/*------------------------------------------
/* Name */
.name {
	text-transform: uppercase;
	font-size: 25px;
	display:inline-block;
	vertical-align: middle;
}
/*------------------------------------------
/* Logo
.logo {

} */


