:root {
    --color-darkest: #17252a;
    --color-dark:#2B7A78;
    --color-main: #3AAFA9;
    --color-light: #DEF2F1;
    --color-lightest: #FEFFFF;
    
    --ff-ss: 'Questrial', sans-serif;
    --zero: 0;
    
    /*? font sizes */
    --fz-xs: 10px;
    --fz-s:  12px;
    --fz-m:  15px;
    --fz-l:  18px;
    --fz-xl: 20px;
}
* {
    margin:var(--zero);
    padding:var(--zero);
    font-family:var(--ff-ss);
}
.text {
    color: var(--color-light);
}
body {
    background-color: var(--color-darkest);
}   
.navigation {
    position:sticky;
    top:var(--zero);
    left:var(--zero);
    width:100%;
    z-index:1;
    height:auto;
    background-color: var(--color-darkest);
}
.grid-container {
    display:grid;
    grid-template-columns: 'left grid grid grid right';
    justify-content: space-evenly;
    align-content:center;
    padding-top: 3vw;
}
.grid-item {
    grid-area: 'grid';
    display:inline-grid;
    grid-template-areas: 'image'
                         'image'
                         'title'
                         'description'
                         'description';
    height:auto;
    padding:var(--fz-l);
    margin:var(--fz-m);
    background-color: var(--color-dark);
    border-radius: var(--fz-l);
}
.nav-link {
    display: inline-block;
    text-decoration:none;
    text-transform: lowercase;
    text-align: center;
    font-size: clamp(20px,25px,35px);
    padding: 1vw;
}
.grid-item img {
    grid-area: 'image';
    width:100%;
    height:auto;
}
.project-name {
    grid-area: 'title';
    text-align:left;
    display:block;
    text-transform: Uppercase;
}
.project-icon {
    display:inline-grid;
}
.project-description {
    grid-area: 'description';
    text-align:left;
}
.link:hover {
    color: var(--color-main);
    transform: scale(1.01);
    transition: ease-in;
}
a {
    text-decoration: none;
}
.grid-item:hover {
    z-index: var(--zero);
    transform: scale(1.02);
    transition: ease-in;
}
/*!==================================================================================================== */
/** Responsive Design----------*/
/*? Mobile Devices */
@media (max-width: 480px){
    .nav-link {
        display:block;
        font-size:10vw;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        padding-left: var(--fz-xs);
        text-align: left;
    }
    .header {
        padding-top:10px;
    }
    .grid-container {
        display:grid;
        grid-template-columns: left auto right;
        justify-content:space-evenly;
        align-content:center;
        padding-top: 3vw;
    }
}
/*!==================================================================================================== */
/*? Tablets*/
@media (min-width:481px) and (max-width:768px){
    .grid-container {
        display:grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        align-content:center;
        padding-top: 3vw;
    }
}
/*!==================================================================================================== */
/*? Small Screens, Laptops */
@media (min-width:769px) and (max-width:1024px){
}
/*!==================================================================================================== */
/*? Desktops, Large Screens */
@media only screen and (min-width:1025px) and (max-width:1200px){
    .grid-container {
        display:grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        align-content:center;
        padding-top: 3vw;
    }
}
/*!==================================================================================================== */
/*? Extra large screens, TVs */
@media only screen and (min-width:1201px) {
    .grid-container {
        display:grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-evenly;
        align-content:center;
        padding-top: 3vw;
    }
}